.proposals {
  display: flex;
  flex-direction: column;
}

.proposals > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.heading {
  display: inline-block;
  font-weight: bold;
  font-size: 2.5rem;
}

.createProposalLink {
  padding: 0.9rem 1.5rem;
  background-color: gray;
  border-radius: 5px;
  border: 0 none;
  font-size: large;
  font-weight: normal;
  cursor: default;
}

.createProposalLink:hover {
  background-color: rgb(104, 104, 104);
}

.proposalLink {
  padding: 1rem;
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bidRow {
  background-color: rgba(211, 211, 211, 0.322);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.322);
  font-size: 0.9rem;
  /* font-weight: 600; */
}

.bidCollection {
  display: grid;
  text-align: start;
  list-style-type: none;
  row-gap: 0.5rem;
  padding: 0;
}