.verifyButton {
  height: 3rem;
  color: white;
  border: transparent;
  background-color: var(--brand-black);
  font-weight: bold;
}

.verifyButton:hover,
.verifyButton:active,
.verifyButton:focus,
.verifyButton:disabled {
  background-color: gray !important;
  outline: none !important;
  box-shadow: none !important;
}

.section h4 {
  font-family: 'PT Root UI Bold';
  font-size: 18px;
  line-height: 27px;
  color: var(--brand-cool-light-text);
}

.section h2 {
  font-family: 'PT Root UI Bold';
  font-weight: bold;
  font-size: 32px;
  color: var(--brand-cool-dark-text);
}