.title {
  font-family: 'PT Root UI';
  font-size: 18px;
  color: var(--brand-cool-light-text);
  margin-bottom: 0;
}

.timerWrapper {
  display: flex;
}

.timerSection span {
  font-family: 'PT Root UI Bold';
  font-weight: bold;
  font-size: 32px;
  color: var(--brand-cool-dark-text);
}

.timerSection {
  margin-right: 0.5rem;
}

.timerSectionFinal {
  margin-right: 0.5rem;
}

.timerSectionFinal span {
  font-family: 'PT Root UI Bold';
  font-weight: bold;
  font-size: 32px;
  color: var(--brand-cool-dark-text);
}

.small {
  padding-left: 0.1rem;
  font-size: 0.65em;
}

.timeSubtitle {
  font-size: medium;
}

.clockSection {
  margin-right: 0rem;
  min-width: 250px;
}

.auctionTimerSection {
  cursor: pointer;
}

@media (max-width: 992px) {
  .timerSection span {
    font-size: 23px;
  }

  .timerSectionFinal span {
    font-size: 23px;
  }

  .title {
    font-size: 18px;
    margin-top: 1.25rem;
  }

  .section {
    justify-content: space-between;
  }

  .wrapper {
    padding-left: 0.5rem;
    padding-right: 2rem;
  }

  .leftCol {
    padding-left: 0rem;
  }

  .timerSectionFinal {
    margin-right: 0rem !important;
  }
}
