.title {
  margin-bottom: 0.5rem;
  font-family: 'PT Root UI Bold';
  font-size: 18px;
  line-height: 27px;
  color: var(--brand-cool-light-text);
}

.timerWrapper {
  display: flex;
}

.timerSection {
  margin-right: 0.5rem;
}

.small {
  padding-left: 0.1rem;
  font-size: 0.65em;
}

.timeSubtitle {
  font-size: medium;
}

.clockSection {
  margin-right: 0rem;
  min-width: 250px;
}

.auctionTimerSection {
  cursor: pointer;
}
