.bidHistoryWrapper {
  display: flex;
  background-color: var(--brand-cool-accent);
  border-radius: 10px;
  justify-content: center;
  cursor: pointer;
}
.bidHistory {
  margin-left: 0.5rem;
  color: var(--brand-cool-dark-text);
  font-family: 'PT Root UI Bold';
  font-size: 1rem;
  font-size: 16px;
  padding: 0.5rem 1rem;
}

.bidHistory:hover {
  text-decoration: none;
}

.bidHistoryWrapper:hover {
  background-color: var(--brand-gray-hover);
}
