.section span {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Londrina Solid';
}

.section h4 {
  font-family: 'PT Root UI';
  font-size: 18px;
  color: var(--brand-cool-light-text);
}

.section h2 {
  font-family: 'PT Root UI Bold';
  font-weight: bold;
  font-size: 32px;
  color: var(--brand-cool-dark-text);
}

.wrapper {
  padding-left: 0rem;
  padding-right: 0rem;
}

@media (max-width: 992px) {
  .section h4 {
    font-size: 18px;
  }

  .section h2 {
    font-size: 23px;
  }

  .section {
    justify-content: space-between;
  }

  .wrapper {
    padding-left: 0.5rem;
    padding-right: 2rem;
  }

  .leftCol {
    padding-left: 0.2rem;
  }
}
